<div class="form-group row">
  <div class="col-sm-10">
    <button type="button" class="btn btn-outline-primary" (click)="open()">New Employee</button>
  </div>
</div>

<app-create *ngIf="show" (someEvent)="receiveMessage($event)"></app-create>

<div class="card">
  <div class="card-body">
    <table class="table table-hover">
      <thead>
      <tr>
          <td>#</td>
          <td>id</td>
          <td>Name</td>
          <td>Description</td>
          <td colspan="2">Actions</td>
      </tr>
      </thead>
      <tbody>
          <tr *ngFor="let employee of employees; let i = index">
              <td>{{i + 1}}</td>
              <td>{{ employee._id }}</td>
              <td>{{ employee.name }}</td>
              <td>{{ employee.department }}</td>
              <td><a [routerLink]="['/edit', employee._id]" class="btn btn-primary btn-sm">Edit</a>
              <a class="btn btn-outline-danger btn-sm" (click)="remove(employee._id)">Delete</a></td>
          </tr>
      </tbody>
    </table>
  </div>
</div>